*,
*::before,
*::after { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}
main {
    padding-top: calc(4rem + 5px);
    padding-bottom: calc(6rem + 10px);
}

/* navbar style */
.dropdown-item {
    border-color: #fff;
}
.dropdown-menu {
    --bs-dropdown-link-hover-bg: #747272 !important;
    --bs-dropdown-link-active-bg: #424141 !important;
    --bs-dropdown-border-color: #fff;
}
.btn-outline-dark {
    --bs-btn-border-color: #fff;
    --bs-btn-hover-bg: #747272;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-active-bg: #424141;
    --bs-btn-active-border-color: #fff;
}

/* footer style */
.footerStyle address, p {
    margin-bottom: 0 !important;
}
